
 /* ------------------------------ CSS RESET AREA ------------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

 /* ------------------------------ SKELETON DESIGN OF THE PAGE ------------------------------ */

 body {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: aliceblue;
}
.main-title {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}
#game-info {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 5vh;
}
#game-board {
  width: 90vw; 
  max-width: 80rem;
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;  
  row-gap: 1rem;  
  background-color: antiquewhite;
  border-radius: 3rem;
  margin: 3rem auto 0 auto;  
  padding: 3rem;          
  justify-items: center;
  align-items: center;

}
 /* ------------------------------ CARD DESIGN / ANIMATIONS ------------------------------ */

.card {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;   
  cursor: pointer;
  perspective: 1000px; /* for 3D effect */
}
.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 0.5rem;
  border-radius: 1rem;
  top: 0;
  left: 0;
  backface-visibility: hidden;  
  transition: transform 0.5s;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  transform: rotateY(0deg);
}

.card.flip .front {
  transform: rotateY(0deg);
}

.card.flip .back {
  transform: rotateY(180deg);
}
.matched {
  transform: scale(0); 
  opacity: 0;          
  pointer-events: none; 
  transition: transform 2s ease, opacity 0.5s ease;
}
 /* ------------------------------ CREDITS ------------------------------ */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
  font-size: 1.8rem;
}